<div class="form-container">
  <h3>Create new Book List</h3>
  <form [formGroup]="bookForm" (ngSubmit)="save()">
    <mat-form-field class="f-w">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="f['title'].hasError('required')">
        <strong> title </strong> required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="f-w">
      <mat-label>description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="f['description'].hasError('required')">
        <strong> description </strong> required
      </mat-error>
    </mat-form-field>

    <!-- title -->
    <!-- description -->
    <!-- dueDate -->
    <!-- status -->
    <mat-form-field appearance="fill" class="f-w">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="f['dueDate'].hasError('required')">
        <strong>dueDate</strong>
        required
      </mat-error>
    </mat-form-field>
    <div class="f-w">
      <mat-checkbox class="example-margin" formControlName="status"
        >description?</mat-checkbox
      >
      <mat-error *ngIf="f['status'].hasError('required')">
        <strong> status </strong> required
      </mat-error>
    </div>
    <div class="f-w">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="bookForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
